{% extends "body.html" %}

{% block content %}
    <form action="." method="post">
        <div class="card card-default">
            <div class="card-header">
                <h3 class="card-title">
                    <i class="fa-solid fa-plus"></i>
                    {{ title }}
                </h3>
            </div>

            <div class="card-body">
                {% csrf_token %}
                {{ form }}
                </div>
                <div class="card-footer text-muted">
                    <button type="submit" class="btn btn-block btn-outline-success" id="btnTest">
                        <i class="fa-regular fa-floppy-disk"></i>
                        Guardar registro</button>
                </div>
            </div>
        </form>
    {% endblock content %}
