{% extends "body.html" %}

{% block content %}
    <form action="#" method="post">
        <div class="card card-default">
            <div class="card-header">
                <h3 class="card-title">

                    {% if action == 'add' %}
                        <i class="fa-solid fa-file-circle-plus"></i>
                    {% else %}
                        <i class="fa-solid fa-pen-to-square"></i>
                    {% endif %}


                    {{ title }}
                </h3>
            </div>

            <div class="card-body">
                {% csrf_token %}

                {% for field in form.visible_fields %}

                    <div class="form-group">
                        <label for="">
                            {{ field.label }}:
                        </label>
                        {{ field }}
                    </div>

                {% endfor %}

            </div>
            <div class="card-footer text-muted">
                <button type="submit" class="btn btn-block btn-outline-success">
                    <i class="fa-solid fa-floppy-disk"></i>
                    Guardar registro</button>

                <!-- <a href=" {% url 'erp:category_add' %} " class="btn btn-block btn-outline-success">
                                                                                        <i class="fa-solid fa-floppy-disk"></i>
                                                                                        Guardar registro</a> -->
            </div>
        </div>
    </form>


    <script>
        {% if form.errors %}
            var errores = '';{% for field in form %}
                {% for error in field.errors %}errores = '{{ error }}\n'{% endfor %}
            {% endfor %}

            Swal.fire({icon: 'error', title: 'Existen los siguiente errores:', text: errores});{% endif %}
    </script>
{% endblock content %}
