{% extends "body.html" %}

{% load static %}

{% block content %}
    <div class="card card-default">
        <div class="card-header">
            <h3 class="card-title">
                <i class="fa-solid fa-magnifying-glass"></i>
                {{ title }}
            </h3>
        </div>

        <div class="card-body">
            <table class="table table-striped" id="myDataTable">
                <thead>
                    {% block column %}{% endblock column %}
                </thead>
                <tbody>
                    {% block rows %}{% endblock rows %}
                </tbody>
            </table>
        </div>
        <div class="card-footer text-muted">
            <a href=" {{ create_url }} " class="btn btn-block btn-outline-success">
                <i class="fa-solid fa-plus"></i>
                Nuevo registro</a>
        </div>
    </div>

</div>{% endblock content %}{% block js %}

<script src="{% static 'lib/bootstrap-5.0.2/js/jquery-3.6.0.min.js' %} "></script>

<script src="{% static 'lib/datatables/DataTables-1.11.5/js/jquery.dataTables.min.js' %} "></script>
<script src="{% static 'lib/datatables/responsive/js/dataTables.responsive.min.js' %} "></script>

<script src="{% static 'lib/datatables/DataTables-1.11.5/js/dataTables.bootstrap5.min.js' %} "></script>
<script src="{% static 'lib/datatables/responsive/js/responsive.bootstrap5.min.js' %} "></script>

{% block head_list %}{% endblock head_list %}{% endblock js %}
